* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Overpass", sans-serif;
    background-color: #121417;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart {
    background-color: #252d37;
    width: 380px;
    height: 400px;
    border-radius: 20px;
    padding: 30px;
}
.cart-complete {
    display: none;
    text-align: center;
}
.cart h1 {
    color: #ffffff;
    margin: 20px 0 15px 0;
}
.cart p {
    color: #959eac;
    line-height: 30px;
}
.cart_logo img {
    background: #121417;
    padding: 15px;
    border-radius: 50%;
}
.cart_form--numbers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
}
.number-btn {
    background-color: #121417;
    color: #959eac;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all 0.3s;
    font-weight: 700;
}
.number-btn:hover {
    background-color: #ffffff;
    color: #121417;
}
.submit-btn {
    width: 100%;
    height: 45px;
    background-color: #fb7413;
    color: #121417;
    border-radius: 50px;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
}
.submit-btn:hover {
    background-color: #ffffff;
    color: #121417;
}
.number-btn.active {
    background-color: #fb7413;
    color: #121417;
}
h3 {
    font-size: 18px;
    font-weight: 300;
    margin-top: 15px;
    padding: 10px;
    border-radius: 20px;
    background-color: #121417;
    color: #fb7413;
    font-weight: 300;
}
.cart-complete.active {
    display: block;
}
.cart-complete.active .cart-submit {
    display: none;
}
